<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define AstroSoundBoard_TargetDir=$(var.AstroSoundBoard.TargetDir)?>
  <Product Id="*" Name="AstroSoundBoard" Language="1033" Version="0.9.0.0" Manufacturer="BugLine" UpgradeCode="bf7aee51-98b6-495a-8d63-21df118b319a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

    <Directory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuSubfolder" Name="AstroKittySoundBoard">
        <Component Id="ApplicationShortcuts" Guid="61755CE6-8DC6-41CF-91D6-36B013CF0E98">
          <Shortcut Id="ApplicationShortcut1" Name="AstroKitty Soundboard" Description="A Soundboard for AstroKitty" Target="[INSTALLDIR]AstroSoundBoard.exe" WorkingDirectory="INSTALLDIR" />
          <RegistryValue Root="HKCU" Key="Software\BugLine\AstroKittySoundBoard" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
        </Component>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="AstroSoundBoard.Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AstroSoundBoard.Installer" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AstroSoundBoard.exe" Guid="4f6d493f-2207-46a3-ac9a-c48062b08c9b">
        <File Id="AstroSoundBoard.exe" Name="AstroSoundBoard.exe" Source="$(var.AstroSoundBoard_TargetDir)AstroSoundBoard.exe" />
      </Component>
      <Component Id="AstroSoundBoard.exe.config" Guid="c5f33e8b-a858-47f8-8601-3f9f72c1df6f">
        <File Id="AstroSoundBoard.exe.config" Name="AstroSoundBoard.exe.config" Source="$(var.AstroSoundBoard_TargetDir)AstroSoundBoard.exe.config" />
      </Component>
      <Component Id="AutoUpdater.NET.dll" Guid="c8e1e13f-55dd-4a85-a75b-2582f0f1e147">
        <File Id="AutoUpdater.NET.dll" Name="AutoUpdater.NET.dll" Source="$(var.AstroSoundBoard_TargetDir)AutoUpdater.NET.dll" />
      </Component>
      <Component Id="log4net.dll" Guid="a865e046-410a-4c0f-9f3c-4d43eb284b79">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.AstroSoundBoard_TargetDir)log4net.dll" />
      </Component>
      <Component Id="MaterialDesignColors.dll" Guid="6f634153-cd81-43ba-acc9-a1e2c1940d2e">
        <File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.AstroSoundBoard_TargetDir)MaterialDesignColors.dll" />
      </Component>
      <Component Id="MaterialDesignThemes.Wpf.dll" Guid="5e7b21d6-dffe-4a20-b8ff-575e3899b7ca">
        <File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.AstroSoundBoard_TargetDir)MaterialDesignThemes.Wpf.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="4cb2b03c-5246-4ceb-bd36-da3109ff692a">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.AstroSoundBoard_TargetDir)Newtonsoft.Json.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>